
*.txt
finalDossier/Alexandrov_2015_A_Modified_Tripartite_Model_for_Document_Representation_in_Internet_Sociology
finalDossier/Doyle_2005_Automatic_Categorization_of_Author_Gender
finalDossier/Furui_2004_Speech-to-text_and_speech-to-speech_summarization_of_spontaneous_speech
finalDossier/Gonzalez_2018_Automated_Sentence_Boundary_Detection_in_Modern_StandardArabic_Transcripts_using_Deep_Neural_Networks
finalDossier/Levner_2007_Fuzzifying_clustering_algorithms_The_case_study_of_MajorClust
finalDossier/Lin_2004_Rouge
finalDossier/Metsis_2006_Spam_filtering_with_naive_bayes-which_naive_bayes
finalDossier/Mikolov_2013_Distributed_representations_of_words_and_phrases_and_their_compositionality
finalDossier/Torres-Moreno_2012_Artex_is_another_text_summarizer
finalDossier/Vanderwende_2007_Beyond_SumBasic
Alexandrov_2015_A_Modified_Tripartite_Model_for_Document_Representation_in_Internet_Sociology
__pycache__/getTitre.cpython-37.pyc
__pycache__/getAbstract.cpython-37.pyc
__pycache__/converter.cpython-37.pyc
*.pyc
Papers/Alexandrov_2015_A_Modified_Tripartite_Model_for_Document_Representation_in_Internet_Sociology.pdf
Papers/Doyle_2005_Automatic_Categorization_of_Author_Gender.pdf
Papers/Furui_2004_Speech-to-text_and_speech-to-speech_summarization_of_spontaneous_speech.pdf
Papers/Gonzalez_2018_Automated_Sentence_Boundary_Detection_in_Modern_StandardArabic_Transcripts_using_Deep_Neural_Networks.pdf
Papers/Levner_2007_Fuzzifying_clustering_algorithms_The_case_study_of_MajorClust.pdf
Papers/Lin_2004_Rouge.pdf
Papers/Metsis_2006_Spam_filtering_with_naive_bayes-which_naive_bayes.pdf
Papers/Mikolov_2013_Distributed_representations_of_words_and_phrases_and_their_compositionality.pdf
Papers/Torres-Moreno_2012_Artex_is_another_text_summarizer.pdf
Papers/Vanderwende_2007_Beyond_SumBasic.pdf
